body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6.925rem;
  color: #66BFBF;
  line-height: 2;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.85rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bolder;
  font-size: 1.55rem;

}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 2;
}

hr{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-width: 9px;
  margin: 100px auto 100px auto;
}

.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 25px;
  height: 100vh;
  margin: 0;

}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
  margin-top: 30px;
  background-color: #66BFBF;
  padding-top: 55px;
  padding-bottom: 50px;

}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position:absolute;
  top: 80px;
  right: 600px;
  width: 285px;
}
.bottom-cloud{
  position:absolute;
  width: 285px;
  left: 650px;
  top: 355px;
}
.mountain{
  position:absolute;
  width: 60%;
  bottom: 0;
  left: 500px;

  margin:auto;
}

.profile{

}
.computer{
  width: 25%;
  margin-right: 30px;
  float:left;
}
.ssbm-fox{
  margin-left: 0;
  float: right;
  width: 25%;
}
.league{
  margin-right: 30px;
  width:15%;
  float: left;
}

a{
  color: #11999E;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6

}

.footer-link{
  color: #11999E;
}
.contact-me {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 32px;
   -moz-border-radius: 32px;
   border-radius: 32px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 38px;
   font-weight: 300;
   padding: 27px;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-me:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.spaced{
  padding-bottom: 50px;
}
.end{
  width: 32%;
  margin: 40px auto 60px;

}

.copyright{
  font-size: 16px;
  color: #EAF6F6;
  padding: 20px auto;
}
